$black          : #000;
$darkgray       : #202020;
$darkgray_light : #303030;
$dark_gray      : #616161;
$gray           : #9E9E9E;
$blue_gray      : #ECEFF1;
$light_gray     : #E0E0E0;
$white          : #fff;

$purple         : #6200EA;
$light_purple   : #AA00FF;
$bg_red         : #E57373;
$red            : #C62828;

$dark-shadow    : rgba($black, 0.5);
$light-shadow   : rgba($darkgray-light, 0.5);
$light-shadow-2 : rgba($darkgray-light, 0.3);


$light_green  : #81C784;
$main_green   : #4CAF50;
$dark_green   : #388E3C;
$accent_green : #69F0AE;