$black          : #000000;
$darkgray       : #202020;
$darkgray_light : #303030;
$dark_gray      : #616161;
$gray           : #9E9E9E;
$light_gray     : #E0E0E0;
$blue_gray      : #ECEFF1;
$white          : #FFFFFF;

$purple         : #6200EA;
$light_purple   : #AA00FF;
$red            : #C62828;
$orange         : #FF8F00;

$dark-shadow    : rgba($black, 0.5);
$light-shadow   : rgba($darkgray-light, 0.5);
// $light-shadow-2 : rgba($darkgray-light, 0.3);
