$light_green  : #81C784;
$main_green   : #4CAF50;
$dark_green   : #388E3C;
$accent_green : #69F0AE;

$white        : #FFFFFF;
$light_gray   : #E0E0E0;
$gray         : #9E9E9E;
$dark_gray    : #616161;
$black        : #000000;

$bg_red       : #E57373;
$red          : #C62828;