@import './colors';

.wrapper {
  padding: 1.2rem
}

.container {
  display: flex;
  width: 1200px;
  justify-content: center;
  gap: 1.2rem;

  .left {
    width: 48%;
    height: 100%;

    .cart-info {
      height: 200px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding-right: 1.2rem;
      border-bottom: 1px solid $dark_green;

      h1 {
        width: 100%;
        text-align: center;
      }

      div:last-child p {
        text-align: end;
      }
    }

    .items {
      height: 300px;
      overflow-y: scroll;
      padding: 0;
      width: 100%;
      list-style: none;

      li {
        display: flex;
        justify-content: flex-start;
        padding: 10px;
        margin: 10px 5px;
        border: 1px solid $black;
      }

      p {
        margin: 0;
      }

      div:first-child {
        width: 70%;
      }
    }
  }

  .right {
    width: 48%;
    background-color: $dark_green;
  }
}
