@import './colors';

.chart {
  height: 400px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .chart {
    height: 500px;
  }
}

@media screen and (max-width: 992px) {
  .chart {
    height: 300px;
  }
}
