@import './colors.scss';
@import './variables';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header_height);
  background-color: $darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      a {
        @include button;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .header {
    @include shadow;
    top: unset;
    bottom: 0;

    ul {
      gap: 3vw;

      li {
        a {
          padding: 4vh 5vw;
        }
      }
    }
  }
}
