@import './colors.scss';
@import './variables';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header_height);
  background-color: $darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;

    li {
      a {
        @include button;
      }
    }
  }
}
