@import './colors.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  background-color: $light_gray;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;

    li {
      a {
        text-decoration: none;
        color: $dark_green;
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
  }
}