@import './colors';
@import './variables';

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  gap: 1rem;

  a {
    @include button;
    text-decoration: none;
    color: $white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 70%;

    p {
      line-height: 100%;
      margin: 0;
    }

    .title {
      font-size: 1.2rem;
    }
  }

  button {
    @include button;

    position: relative;
    border: none;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    padding: 1.4rem;

    &:hover {
      &::before {
        opacity: 1;
      }

      &::after {
        background-color: transparent;
        width: 1rem;
        height: .5rem;
      }
    }

    &::before {
      content: 'delete';
      color: $red;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease-in-out;
      opacity: 0;
    }

    &::after {
      content: '';
      height: 2px;
      width: 8px;
      background-color: $red;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease-out;
    }
  }
}
