@import './colors';
@import './variables';

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--header_height) - 5rem);

  a{
    @include button;
  }
}