@import '../styles/colors.scss';

.wrapper {
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;

  h1 {
    margin: 3rem 0;
    text-align: center;
    width: 90vw;

    @media screen and (max-width: 576px) {
      font-size: 1.6rem;
    }
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    h2 {
      font-size: 1.3rem;
    }
  }
}
